<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Web Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <div class="header">
        <div class="ui-widget-header" role="heading">
            <a class="header">
                <a>&nbsp;</a>
            </a></div>
    </div>
</div>
<!-- MARKETING BAR-->
<div class="container">
    <div class="header">
        <div class="ui-widget-header bg-blue " role="heading" align="right">
            <a class="header">
                <a href="https://www.instagram.com" target="_blank" style="font-size: 13px">Instagram &nbsp;</a>
            </a>
            <a class="header">
                <a href="https://www.youtube.com" target="_blank" style="font-size: 13px"> &nbsp; Youtube</a>
            </a>
        </div>
    </div>
</div>

<!-- NAV BAR-->
<div class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-light my-4" th:fragment="header">


    <div th:if="${logout}">
        <div class="alert alert-danger">You have been succesfully logout</div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <ul class="nav">
                <a class="navbar-brand" th:href="@{/register}" style="color: black">&nbsp;&nbsp;Register</a>
                <li class="navbar-brand"><a th:href="@{/login}" style="color: black">&nbsp;&nbsp;Login&nbsp;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
</div>

<!-- TEXT AREA -->
<div class="container" align="center">
    <strong style="font-size: 30px">WELCOME </strong>

</div>

<!-- FOOTER -->
<footer style="background-color: rgba(0,4,12,0.8)">
    <p align="center" style="color: aliceblue">2023 Kubra Sisman</p>
</footer>

</body>
</html>